---
import { Phone, Flame } from '@lucide/astro';

const {dishOfTheMoment} = Astro.props;
---

<!-- 🔥 PLAT DU MOMENT -->
    {dishOfTheMoment && (
    <section class="highlight">
        <h2 class="highlight__title">
            <span class="highlight__title-inner">
                <Flame size={24} />
                <span>Notre pizza du moment</span>
                <Flame size={24} />
            </span>
        </h2>

        <article class="card highlight__card">
            
            <img class="highlight__img" src={dishOfTheMoment.image} alt={dishOfTheMoment.name} loading="lazy" width="400" height="300"/>

            <div class="highlight__content">
                <h3>{dishOfTheMoment.name}</h3>

                <p class="highlight__ingredients">
                    {dishOfTheMoment.ingredients?.join(", ")}
                </p>
                
                <p class="highlight__price">
                    {dishOfTheMoment.price.toFixed(2)}€
                </p>
                
                <div class="cta highlight__cta">
                    <a href="tel:0123456789" class="btn btn--primary"><Phone size={24}/><span>Commander</span></a>
                    <a href="/menu" class="btn btn--secondary">Voir le menu</a>
                </div>
            </div>
        </article>
    </section>
    )} 

