---
import { Leaf, Flame, Ham } from "@lucide/astro";
const { title, items } = Astro.props;
---

<section
  id={title.toLowerCase()}
  class={title.toLowerCase()}
  data-menu
>
		<h2>{title}</h2>

        {
            title === "Pizzas" && (
                <div class="filters filters-tags">
                    <div class="filter-top">
                    
                        <button data-filter="all" class="active">
                            Toutes les pizzas
                        </button>
                        
                    
                        <button data-filter="végétarien">
                            <span class="icon">
                                <Leaf size={16}/>
                            </span>
                            Végé
                        </button>
                        <button data-filter="épicé">
                            <span class="icon">
                                <Flame size={16}/>
                            </span>
                            Épicé
                        </button>
                    </div>
                    <div class="filter-bottom">
                        
                    <select name="base" id="base-filter">
                        <option value="all">Toutes les bases</option>
                        <option value="sauce-tomate">Sauce tomate</option>
                        <option value="mozzarella">Mozzarella</option>
                        <option value="sauce-tomate-mozzarella">Sauce tomate & mozzarella</option>
                    </select>
                    </div>
                </div>
            )
        }

        {
            title === "Boissons" && (
                <>
                    <div class="filters filters-main">
                        <button data-filter="all" class="active">Tous</button>
                        <button data-filter="Vin">Vin</button>
                        <button data-filter="Bière">Bière</button>
                        <button data-filter="Soda">Soda</button>
                        <button data-filter="Eau">Eau</button>
                    </div>

                    <div class="filters filters-tags">
                        <button data-filter="Avec alcool">Avec alcool</button>
                        <button data-filter="Sans alcool">Sans alcool</button>
                    </div>
                </>
            )
        }

		<div class="items-list">
			{items.map((item: {
            [x: string]: unknown; tags: any[]; image: string | null | undefined; name: unknown; highlight: any; description: string , ingredients: string[] ; price: number; formats: { label: string; price: number }[] 
            }) => {
                const baseLabel =
                    typeof item.base === "string"
                        ? `Base ${item.base.replaceAll("-", " ")}`
                        : "";

                return      (
				<article class="card items-list__item" data-base={item.base || "none"} data-tags={item.tags?.join(",")} data-category={item.category}>
					<img src={item.image} alt={item.name} loading="lazy" class="items-list__image" />
                    <div class="items-list__content">
                        <h3 class="items-list__title">
                            {item.name}
                            {item.highlight && <span> ⭐</span>}
                            {item.tags?.includes("végétarien") && <span class="icon"><Leaf size={16}/></span>}
                            {item.tags?.some(tag => tag.toLowerCase().includes("épicé")) && <span class="icon"><Flame size={16}/></span>}
                            {item.tags?.some(tag => tag.toLowerCase().includes("végétarien")) && <span class="icon"><Leaf size={16}/></span>}
                        </h3>
                        <p class="items-list__text">
                            {title === "Pizzas" || title === "Plateaux" ? (
                                <span>
                                    {item.base
                                        ? `Base ${item.base.replaceAll("-", " ")} · `
                                        : ""}
                                    {item.ingredients.flat().map((i) => i.trim()).join(" · ")}
                                    </span>
                                ) : 
                                <span>{item.description}</span>
                                }</p>
                        {
                            title === "Spécialités" || title === "Plateaux" ? (
                                
                                    item.formats.map((format: { label: string; price: number }) => (
                                        <div class="items-list__format">
                                            <p>

                                            <span class="items-list__format-name">{format.label}</span>
                                            <span class="items-list__format-price">{format.price.toFixed(2)}€</span>
                                            </p>
                                        </div>
                                    ))
                                
                            ) : (
                                <p class="items-list__price">{item?.price?.toFixed(2)}€</p>

                            )
                        }
                    </div>
				</article>
			)
            }

       )}
            <p class="no-results" hidden>Aucun résultat</p>
		</div>
	</section>

<script>
    import '../../scripts/initMenu';

</script>