---
const { pizzas } = Astro.props;
---

<section id="Pizzas">
		<h2>Pizzas</h2>

		<div class="ctn-items">
			{pizzas.map((pizza) => (
				<article class="card plat">
					<img src={pizza.image} alt={pizza.name} loading="lazy" />
                    <div class="content">
                        <h3>
                            {pizza.name}
                            {pizza.highlight && <span> ⭐</span>}
                        </h3>
                        <p>{pizza.description}</p>
                        <p class="price">{pizza.price.toFixed(2)}€</p>
                    </div>
				</article>
			))}
		</div>
	</section>

