---
const {starters} = Astro.props;
---

<section class="starter">
  <h2>Entrées</h2>

  <div class="filters filters--tags">
    <button class="filters__btn active" data-filter="all">Tous</button>
    <button class="filters__btn" data-filter="vegetarien">Végé</button>
    <button class="filters__btn" data-filter="poisson">Poisson</button>
    <button class="filters__btn" data-filter="viande">Viande</button>
  </div>

  <div class="items">
    {starters.map((item: { tags: any[]; image: string | null | undefined; name: unknown; alt: string | null | undefined; description: unknown; price: number; }) => (
      <article class="card" data-tags={item.tags?.join(",")}>
        <img class="card__img" src={item.image} alt={item.name} loading="lazy" />

        <div class="card__content">
          <h3 class="card__title">{item.name}</h3>
          <p class="card__description">{item.description}</p>
          <p class="card__price">{item.price.toFixed(2)}€</p>
        </div>
      </article>
    ))}
  </div>
</section>