---
import {marked} from 'marked';

import infos from '../content/infos.json';
import special from '../content/information/special.json';

import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Review from '../components/sections/Review.astro';
import Highlight from '../components/sections/Highlight.astro';
import Selection from '../components/sections/Selection.astro';
import Presentation from '../components/sections/Presentation.astro';

import { pizzas, platters, specialties, drinks, desserts } from '../utils/collections';

const reviews = (Object.values(import.meta.glob('../content/reviews/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);

const dishOfTheMoment = pizzas.find(p => p.highlight) || null;

const html = marked.parse(infos.description);

const allItems = [...pizzas, ...platters, ...specialties, ...drinks, ...desserts];
const suggestionsRaw = allItems.filter(item => item.isFavorite);

const suggestions = [];
const usedCategories = new Set();

for (const item of suggestionsRaw) {
  if (!usedCategories.has(item.category)) {
    suggestions.push(item);
    usedCategories.add(item.category);
  }
  if (suggestions.length === 4) break;
}
---
<Layout>

    
<main id="home">

    <Hero infos={infos} special={special}/>	

    {dishOfTheMoment && (
    <Highlight dishOfTheMoment={dishOfTheMoment} />
    )}
	
    <Selection suggestions={suggestions} pizzas={pizzas} platters={platters} specialties={specialties} drinks={drinks} desserts={desserts}/>
    
    <div class="container-secondary">
       
    <Presentation html={html} infos={infos}/>

    <Review reviews={reviews} />
    
     </div>

</main>

</Layout>
