---
import {marked} from 'marked';

import infos from '../content/infos.json';
import special from '../content/information/special.json';

import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Review from '../components/sections/Review.astro';
import Highlight from '../components/sections/Highlight.astro';
import Selection from '../components/sections/Selection.astro';
import Presentation from '../components/sections/Presentation.astro';


const pizzas = (Object.values(import.meta.glob('../content/pizzas/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);
const platters = (Object.values(import.meta.glob('../content/platters/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);
const specialties = (Object.values(import.meta.glob('../content/specialties/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);
const drinks = (Object.values(import.meta.glob('../content/drinks/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);
const desserts = (Object.values(import.meta.glob('../content/desserts/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);
const reviews = (Object.values(import.meta.glob('../content/reviews/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);

const dishOfTheMoment = pizzas.find(p => p.highlight) || null;

const html = marked.parse(infos.description);

// tri
pizzas.sort((a,b) => a.name.localeCompare(b.name));
platters.sort((a,b) => a.name.localeCompare(b.name));
specialties.sort((a,b) => a.name.localeCompare(b.name));
drinks.sort((a,b) => a.name.localeCompare(b.name));
desserts.sort((a,b) => a.name.localeCompare(b.name));   
---
<Layout>

    
<main id="home">

    <Hero infos={infos} special={special}/>	

    <!-- HIGHLIGHT -->
    {dishOfTheMoment && (
    <Highlight dishOfTheMoment={dishOfTheMoment} />
    )}
	
    <Selection pizzas={pizzas} platters={platters} specialties={specialties} drinks={drinks} desserts={desserts}/>
    
    <div class="container-secondary">
   
    
    <Presentation html={html} infos={infos}/>

    <Review reviews={reviews} />


     </div>
   

</main>

</Layout>
