---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import hours from '../content/hours/hours.json';

function formatDay(day: { closed: any; slots?: any[]; }) {
  if (!day || day.closed) return "fermé";

  if (!day.slots || day.slots.length === 0) return "fermé";

  return day.slots
    .map((slot: { open: { hour: any; minute: any; }; close: { hour: any; minute: any; }; }) =>
      `${slot.open.hour}:${slot.open.minute}-${slot.close.hour}:${slot.close.minute}`
    )
    .join(" / ");
}

const daysOrder = [
  "lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche"
];

const formattedDays = daysOrder.map(dayKey => {
  const day = hours[dayKey as keyof typeof hours] ?? { closed: true };

  return {
    day: dayKey,
    value: formatDay(day)
  };
});

---

<Layout title="Mentions légales">

<main class="policy-legal">
      <h1>Mentions légales</h1>

      <section>
        <h2>Éditeur du site</h2>
        <p>
          Le présent site est édité par :
          <br /><strong>La Pizzetteria</strong><br />
            Société à responsabilité limitée (SARL)<br />
            SIRET : 927 722 918 00012<br />
          3 Avenue de la Vendée, 44140 Aigrefeuille-sur-Maine<br />
          📞 02 28 02 88 29<br />
          📧 lapizzetteria2@gmail.com
        </p>
      </section>

      <section>
        <h2>Directeur de la publication</h2>
        <p>Guillaume Nodon</p>
      </section>

      <section>
        <h2>Hébergement</h2>
        <p>Le site est hébergé par :<br />
        Netlify, Inc.<br />
        2325 3rd Street, Suite 296<br />
        San Francisco, CA 94107<br />
        États-Unis<br />
        <a href="https://www.netlify.com" target="_blank" rel="noopener noreferrer">
            https://www.netlify.com
        </a>
        </p>
      </section>

      <section>
        <h2>Propriété intellectuelle</h2>
        <p>
          L’ensemble du contenu du site (textes, images, graphismes, logo, etc.) est la propriété exclusive de La Pizzetteria, sauf mention contraire. Toute reproduction, distribution, modification, adaptation, retransmission ou publication de ce contenu est strictement interdite sans l’accord écrit préalable de La Pizzetteria.
        </p>
      </section>

       <section>
            <h2>Données personnelles</h2>
            <p>
             Le site ne collecte aucune donnée personnelle.
            </p>
        </section>

          <section>
            <h2>Cookies</h2>
             <p>
                Le site n’utilise actuellement aucun cookie ni outil de suivi.
                Des outils de mesure d’audience pourront être ajoutés ultérieurement,
                avec affichage d’un bandeau de consentement conforme à la réglementation.
            </p>
        </section>

      <section>
        <h2>Responsabilité</h2>
        <p>
            Les informations présentes sur le site sont fournies par l’éditeur à titre indicatif.
            Celui-ci est seul responsable de leur exactitude et de leur mise à jour.
            L’éditeur ne saurait être tenu responsable des erreurs, omissions ou d’une indisponibilité du site.
        </p>
      </section>

      <section>
        <h2>Crédits</h2>
        <p>
          Conception et développement du site : Romain Fournier<br/>
          Site réalisé avec Astro et hébergé sur Netlify
        </p>
      </section>
  </main>
<Footer formattedDays={formattedDays} />

</Layout>
 