---
import Nav from '../components/MenuNav.astro';
import Layout from '../layouts/Layout.astro';
import ItemList from '../components/sections/ItemList.astro';

const specialties = Object.values(import.meta.glob('../content/specialties/*.json', { eager: true })).map(p => p.default);
const pizzas = Object.values(import.meta.glob('../content/pizzas/*.json', { eager: true })).map(p => p.default);
const drinks = Object.values(import.meta.glob('../content/drinks/*.json', { eager: true })).map(p => p.default);
const desserts = Object.values(import.meta.glob('../content/desserts/*.json', { eager: true })).map(p => p.default);
const platters = Object.values(import.meta.glob('../content/platters/*.json', { eager: true })).map(p => p.default);

---

<Layout title="Menu de la Pizzetteria" description="Découvrez notre menu varié de pizzas, entrées, desserts et boissons. Des saveurs authentiques pour tous les goûts." >

<main id="menu">
    <!-- STICKY MENU-->
	<Nav />

	<!-- PIZZAS -->

	<ItemList title="Pizzas" items={pizzas} />
    

    
    <!-- PLATEAUX -->
	<ItemList title="Plateaux" items={platters} />
        

    
    <!-- SPECIALITÉS -->
	<ItemList title="Spécialités" items={specialties} />
	    
    <!-- DESSERTS -->
	<ItemList title="Desserts" items={desserts} />
    
	    
    <!-- BOISSONS -->
	<ItemList title="Boissons" items={drinks} />

</main>