---
import Nav from '../components/MenuNav.astro';
import Layout from '../layouts/Layout.astro';
import ItemList from '../components/sections/ItemList.astro';
import infos from '../content/infos.json';

import { pizzas, drinks, platters, specialties, desserts } from '../utils/collections';

---

<Layout title={`Carte & pizzas à emporter | ${infos.title} à ${infos.city}`}
        canonical={`${infos.site_url}/menu`}>

<main id="menu">
    <!-- STICKY MENU-->
	<Nav />

	<ItemList title="Pizzas" items={pizzas} />
        
	<ItemList title="Plateaux" items={platters} />
    
	<ItemList title="Spécialités" items={specialties} />
	    
    <ItemList title="Desserts" items={desserts} />
    
	<ItemList title="Boissons" items={drinks} />

</main>

<script>
    
// MENU NAV
// SCROLL SPY
const sections = document.querySelectorAll("section");
const navLinks = document.querySelectorAll(".nav-link");

const observer = new IntersectionObserver((entries) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      const id = entry.target.getAttribute("id");

      navLinks.forEach(link => {
        link.classList.remove("active");
        if (link.getAttribute("href") === "#" + id) {
          link.classList.add("active");
        }
      });
    }
  });
}, {
  threshold: 0.6,
  rootMargin: "-42px 0px 0px 0px"
});

sections.forEach(section => {
  observer.observe(section);
});
</script>