---
import {marked} from 'marked';

import hours from '../content/hours/hours.json';
import infos from '../content/infos.json';

import Hero from './Hero.astro';

import Map from './sections/Map.astro';
import Hours from './sections/Hours.astro';
import Footer from './Footer.astro';
import Review from './Review.astro';
import Highlight from './sections/Highlight.astro';
import { Phone, Pizza } from '@lucide/astro';


const starters = (Object.values(import.meta.glob('../content/starters/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);
const pizzas = (Object.values(import.meta.glob('../content/pizzas/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);
const drinks = (Object.values(import.meta.glob('../content/drinks/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);
const desserts = (Object.values(import.meta.glob('../content/desserts/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);
const reviews = (Object.values(import.meta.glob('../content/reviews/*.json', { eager: true })) as Array<{ default: any }>).map(p => p.default);

const dishOfTheMoment = pizzas.find(p => p.highlight) || null;
console.log(dishOfTheMoment)
const html = marked.parse(infos.description);

function formatDay(day: { closed: any; slots?: any[]; }) {
  if (!day || day.closed) return "fermé";

  if (!day.slots || day.slots.length === 0) return "fermé";

  return day.slots
    .map((slot: { open: { hour: any; minute: any; }; close: { hour: any; minute: any; }; }) =>
      `${slot.open.hour}:${slot.open.minute}-${slot.close.hour}:${slot.close.minute}`
    )
    .join(" / ");
}

const daysOrder = [
  "lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche"
];

const formattedDays = daysOrder.map(dayKey => {
  const day = hours[dayKey as keyof typeof hours] ?? { closed: true };

  return {
    day: dayKey,
    value: formatDay(day)
  };
});

// tri
starters.sort((a,b) => a.name.localeCompare(b.name));
pizzas.sort((a,b) => a.name.localeCompare(b.name));
drinks.sort((a,b) => a.name.localeCompare(b.name));
---

<main id="home">

    <Hero infos={infos}/>
    
	<hr/>

    <!-- HIGHLIGHT -->
    {dishOfTheMoment && (
    <Highlight dishOfTheMoment={dishOfTheMoment} />
    )}

	<hr/>

    <!-- SELECTION  -->
     <section>
        <h2>Et aussi pour se faire plaisir</h2>
        <div class="selection-ctn">
            {starters.slice(0,2).map((starter) => (
                <article class="card">
                    <img src={starter.image} alt={starter.name} />
                    <h3>{starter.name}</h3>
                </article>
            ))}

            {drinks.slice(0,2).map((drink) => (
                <article class="card">
                    <img src={drink.image} alt={drink.name} />
                    <h3>{drink.name}</h3>
                </article>
            ))}

            {desserts.slice(0,2).map((dessert) => (
                <article class="card">
                    <img src={dessert.image} alt={dessert.name} />
                    <h3>{dessert.name}</h3>
                </article>
            ))}
        </div>
    
        <div class="cta cta_card">
            <a href="tel:0123456789" class="btn-cta primary"><Phone color="#fff" size={24}/><span>Commander</span></a>
            <a href="/menu" class="btn-cta secondary">Voir le menu</a>
        </div>
     </section>

	<hr/>
    <!-- REVIEWS -->
    <Review reviews={reviews} />

	<hr/>

    <!-- PRESENTATION -->
    <section id="presentation" class="container">
        <h2>Benvenuti a {infos.title} !</h2>

        {html && <div class="prose" set:html={html}></div>}

    </section>
	
    <hr />

	<!-- HORAIRES -->
	<Hours formattedDays={formattedDays}/>

    <!-- MAP -->
    <Map />
    
    <!-- FOOTER -->
    <Footer formattedDays={formattedDays} />

</main>

<script type="module">

// 🔥 STATE
const starterFilters = {
    tag: "all"
};

const drinkFilters = {
    category: "all",
    tag: "all"
};

// 🔥 FILTER ENGINE
function applyFilters(type) {
    const items = document.querySelectorAll("." + type);

    items.forEach(item => {
        const tags = item.dataset.tags ? item.dataset.tags.split(",") : [];
        const category = item.dataset.category;

        let show = true;

        // 🥗 STARTERS
        if (type === "starter") {
            if (starterFilters.tag === "all") {
                show = true;
            } else {
                // const normalizedTags = tags.map(t => t.toLowerCase());
                // const filter = starterFilters.tag;

                show = tags.includes(starterFilters.tag);

            }
        }
            
        // 🥤 DRINKS
        if (type === "drink") {
            if (drinkFilters.category !== "all") {
                show = show && category === drinkFilters.category;
            }

            if (drinkFilters.tag !== "all") {
                show = show && tags.includes(drinkFilters.tag);
            }
        }

        item.style.display = show ? "flex" : "none";
    });
}

// 🥗 STARTERS TAG FILTER
document.querySelectorAll("#starter .filters-tags button").forEach(button => {
    button.addEventListener("click", () => {
        const filter = button.dataset.filter;

        starterFilters.tag = starterFilters.tag === filter ? "all" : filter;

        document.querySelectorAll("#starter .filters-tags button")
            .forEach(btn => btn.classList.remove("active"));

            button.classList.add("active");

        applyFilters("starter");
    });
});

// MENU NAV
// SCROLL SPY
const sections = document.querySelectorAll("section");
const navLinks = document.querySelectorAll(".nav-link");

const observer = new IntersectionObserver((entries) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      const id = entry.target.getAttribute("id");

      navLinks.forEach(link => {
        link.classList.remove("active");
        if (link.getAttribute("href") === "#" + id) {
          link.classList.add("active");
        }
      });
    }
  });
}, {
  threshold: 0.6,
  rootMargin: "-42px 0px 0px 0px"
});

sections.forEach(section => {
  observer.observe(section);
});

// 🥤 DRINKS CATEGORY
document.querySelectorAll("#drinks .filters-main button").forEach(button => {
    button.addEventListener("click", () => {
        const filter = button.dataset.filter;

        drinkFilters.category = filter;
        drinkFilters.tag = "all";

        document.querySelectorAll("#drinks .filters-main button")
            .forEach(btn => btn.classList.remove("active"));

        document.querySelectorAll("#drinks .filters-tags button")
            .forEach(btn => btn.classList.remove("active"));

        button.classList.add("active");

        applyFilters("drink");
    });
});

// 🥤 DRINKS TAGS
document.querySelectorAll("#drinks .filters-tags button").forEach(button => {
    button.addEventListener("click", () => {
        const filter = button.dataset.filter;

        drinkFilters.tag = drinkFilters.tag === filter ? "all" : filter;

        document.querySelectorAll("#drinks .filters-tags button")
            .forEach(btn => btn.classList.remove("active"));

        if (drinkFilters.tag !== "all") {
            button.classList.add("active");
        }

        applyFilters("drink");
    });
});

</script>


<style is:global>
  .prose p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.prose p:first-child::first-letter {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
}
.prose ul {
  list-style: ;
  padding-left: 1.5rem;
}

.prose li {
  margin-bottom: 0.5rem;
}


.selection-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.selection-ctn .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    gap: 0.5rem;
    text-align: center;
}

.selection-ctn .card h3{
    font-size: 1.4rem;
    color: #333;
}

.cta .btn-cta {
    color: #333;
}
.cta .btn-cta:hover, .cta .btn-cta:hover svg {
    color: #fff;
    stroke: #fff;
}

.cta .btn-cta.primary {   
    box-shadow: 0 1px 5px var(--color-red);
    opacity: 0.9;
}
.cta .btn-cta.secondary {   
    box-shadow: 0 2px 5px rgba(34, 197, 94, 0.4);
}
.cta .btn-cta.secondary:hover { 
    background-color: var(--color-green);  
    box-shadow: 0 2px 5px rgba(34, 197, 94, 0.4);
}

</style>