---
import { Phone, Map } from "@lucide/astro";
import hours from '../content/hours/hours.json';
import infos from '../content/infos.json';

import "../styles/base/reset.css";
import "../styles/base/variables.css";
import "../styles/base/global.css";
import "../styles/base/typography.css";
import "../styles/footer.css";
import "../styles/components/card.css";
import "../styles/components/filter.css";
import "../styles/layout.css";

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, canonical } = Astro.props;

function formatDay(day: { closed: any; slots?: any[]; }) {
  if (!day || day.closed) return "fermé";

  if (!day.slots || day.slots.length === 0) return "fermé";

  return day.slots
    .map((slot: { open: { hour: any; minute: any; }; close: { hour: any; minute: any; }; }) =>
      `${slot.open.hour}:${slot.open.minute}-${slot.close.hour}:${slot.close.minute}`
    )
    .join(" / ");
}

const daysOrder = [
  "lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche"
];

const formattedDays = daysOrder.map(dayKey => {
  const day = hours[dayKey as keyof typeof hours] ?? { closed: true };

  return {
    day: dayKey,
    value: formatDay(day)
  };
});


---
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
        <link 
        rel="preload" 
        href="/fonts/playfair-var.woff2" 
        as="font" 
        type="font/woff2" 
        crossorigin>
        
        <link rel="canonical" href={canonical ?? infos.site_url} />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta property="og:locale" content="fr_FR" />
        <meta property="og:url" content={canonical ?? infos.site_url} />
        <meta property="og:title" content={title ?? infos.title} />
        <meta property="og:description" content={infos.description} />
        <meta property="og:type" content="website" />
        <meta property="og:image" content=`${infos.site_url}${infos.cover_image}` />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title ?? infos.title} />
        <meta name="twitter:description" content={infos.description} />
        <meta name="twitter:image" content=`${infos.site_url}${infos.cover_image}` />
        <meta name="theme-color" content="#EA580C" />
        <meta name="description" content={infos.description} />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-title" content={infos.title}>

		<title>{title ?? `${infos.title} à ${infos.city} | ${infos.subtitle}`}</title>
	</head>
	<body>
        <Header />

        <slot />
        
        <Footer formattedDays={formattedDays} />
        
        <div class="sticky-cta">
            <a href="tel:0228028829"  class="cta call">
                <Phone size={18} /> Commander
            </a>
                
            <a href="https://maps.google.com/?q=La+Pizzetteria" target="_blank" class="cta map">
                <Map size={18} /> Itinéraire
            </a>
        </div>


	</body>

</html>


